.bodyclass {
    margin-left: 30%;
    margin-top: 10%;
    background-color: #2B222F;
    width: min-content;
    height: min-content;

}

header {
    display: flex;
    background-color: black;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 60px;
}

header img {
    display: inline;
}

img#img-menu {
    position: relative;
    width: 20px;
    height: 14px;
    margin-top: 25px;
    margin-left: 15px;
}

img#img-dealer {
    position: relative;
    margin-top: 21px;
    margin-left: 12px;
    width: 109px;
    height: 22px;
}

img#img-eclipse2 {
    position: relative;
    right: -11px;
    width: 30px;
    height: 30px;
}

img#img-eclipse1 {
    position: relative;
    width: 30px;
    height: 30px;
}

img#img-phone {
    position: relative; 
    left: -11px;
    width: 14px;
    height: 13px;
}

img#img-whatsapp {
    position: relative;
    left: -23px;
    width: 18px;
    height: 18px;
}

img#img-fiat {
    position: relative;
    margin-top: 21px;
    width: 35px;
    height: 22px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
}

.bodyclass-menu {
    display: block;
    background-color:#433B47;
    padding: 5px;
}

.list-menu li {
    color: white;
    padding: 15px 0px;
    border-bottom: 1px solid gray;
    font-size: 14px;
    font-family: Futura PT;
    text-align: left;
    margin-left: -20px;
}

#institucional {
    background: red;
}

.final {
    padding: 30px;
}

.btn-modelos {
    padding: 20px 38px;
    border: 1px solid #FF1430;
    text-align: center;
    font: normal normal bold 14px/22px Futura PT;
    color: white;
}